<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.njc.wearablenoticemail" >

    <!-- Enables retrieval of the account list -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Enables access to Gmail's content provider -->
    <uses-permission android:name="com.google.android.gm.permission.READ_CONTENT_PROVIDER" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_img"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Broadcast Receiver -->
        <receiver android:name=".MyReceiver" >
            <intent-filter>
                <action android:name="com.android.mail.action.update_notification" />
                <data android:mimeType="application/gmail-ls" />
            </intent-filter>
        </receiver>

        <receiver android:name=".NotificationIntentReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.support.wearable.notifications.ACTION_EXAMPLE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
